* {
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

header {
    background-color: rgb(216, 220, 226);
    
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
header section {
    margin: 0 auto;
    max-width: 1920px;
}
header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}
header li {
    text-align: center;
    width: 33%;
}
.content{
    height: 100%;
    min-height:900px;
}
a {
    text-decoration: none;
}
a:visited {
    color: darkblue;
}
a:link {
    color: darkblue;
}
a:hover {
    color: rgb(0, 191, 255);
}


main {
    width: 100%;
}

main section{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    min-height: calc(100vh - 107px);
    height: 100%;
}
.text_area_1 {
    resize: none;
    height: 20px;
    width: 800px;
    border: none;
    margin-top: 50px;
    margin-left: 400px;
}
.text_area_div {
    display: flex;
    justify-content: center;
    width: 100%;
}
.but {
    height: 20px;
    margin-top: 50px;
}
.main_left{
    width: 1505px;
}
.main_left_content{
    width: 800px;
    margin: 0 auto;
}
.main_left_content div{
    margin-top: 20px;
    width: 100%;
}
.main_right{
    width: 415px;
}
.main_header {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 30px;
}
.main_box1 {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}
.main_box1 div {
    width: 600px;
}
.main_box2 {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}
.main_box2 div {
    width: 600px;
}
.main_box2 img {
    display: block;
    margin: 0 auto;
}

.user_info{
    display: flex;
    width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}
.lasts_books{
    margin-top: 100px;
    margin:  0 auto;
    width: 400px;
}
.book_info{
    display: flex;
    width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}
.comments{
    margin-top: 100px;
    width: 100%;
}

.description{
    height: 100%;
    width: 100%;
}
main ul{
    list-style: none;
}
body{
    background-color: aliceblue;
}

footer {
    height: 45px;
    width: 100%;
    background-color:rgb(216, 220, 226);
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.15);
}
footer section {
    max-width: 1920px;
    margin:  0 auto;
}
footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.footer_div {
    width: 400px;
    margin-left: auto;
    margin-right: 0em;
}
footer p {
    margin-top: 15px;
}
.auth_div{
    width: 500px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 15px;
    border: 3px solid rgb(182, 184, 188);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.auth_div h1{
    text-align: center;
}
.auth_div p{
    text-align: center;
}
.auth_button{
    margin: 0 auto;
    height: 25px;
    width: 205px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;

}
.auth_textarea{
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    width: 350px;
}
.auth_redirectToRegistration{
    width: 500px;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 15px;
    border: 3px solid rgb(182, 184, 188);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
#book_add_form_textarea_description{
  resize: none;
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 600px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.main_right{
        display: block;
        width: 415px;
        min-height: 100%;
        background-image: url("img/book3.png");
}