* {
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}
button{
    cursor: pointer;
}
header {
    background-color: rgb(239 239 239);
    
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
header section {
    margin: 0 auto;
    max-width: 1920px;
}
header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}
header li {
    text-align: center;
    width: 50%;
}
.content{
    height: 100%;
}
a {
    text-decoration: none;
}
a:visited {
    color: darkblue;
}
a:link {
    color: darkblue;
}
a:hover {
    color: rgb(0, 191, 255);
}


main {
    width: 100%;
}

main section{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    min-height: calc(100vh - 110px);
    height: 100%;
}
.text_area_1 {
    resize: none;
    height: 20px;
    width: 689px;
    border: none;
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.text_area_div {
    margin: 0 auto;
    justify-content: center;
    width: 800px;
}
.but {
    height: 20px;
    width: 100px;
    margin-bottom: 30px;
    background-color: rgb(217 228 245);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;
    font-weight: 900;
    font-size: 16px;
    transition-duration: 1s;
}
.but:hover{
    background-color: rgb(149, 169, 198);
    transition-duration: 1s;
}
.main_left{
    width: 1505px;
}
.main_left_content{
    font-size: large;
    width: 800px;
    margin: 0 auto;
}

.main_right{
    width: 415px;
}
.main_header {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 30px;
}
.main_box1 {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}
.main_box1 div {
    width: 600px;
}
.main_box2 {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}
.main_box2 div {
    width: 600px;
}
.main_box2 img {
    display: block;
    margin: 0 auto;
}

.user_info{
    font-size: large;
    display: flex;
    width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
}
.user{
    width: 100%;
}
.user_head{
    background-color: rgb(245 249 255);
    box-shadow: 0 0 10px rgb(93 93 93 / 15%);
    padding: 10px;
}
.red_req{
    background-color: rgb(245 249 255);
    box-shadow: 0 0 10px rgb(93 93 93 / 15%);
    padding: 10px;
}
.publication_rated{
    background-color: rgb(217 228 245);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    transition: 1s;
}
.publication_rated:hover{
    background-color:rgb(245 249 255) ;
}
.publication_rated_parent{
    min-width: 410px;
}
.publications_info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.publications_info_head{
    width: 1230px;
    margin-top: 20px;
}
.publications_info_head h2{
    text-align: center;
}
.user_btn{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 150px;
    border: none;
    height: 25px;
    background-color: rgb(217 228 245);
    transition-duration: 1s;
    font-weight: 900;
    font-size: 16px;
}
.user_btn:hover{
    background-color: rgb(167, 184, 210);
    transition-duration: 1s;
}
.lasts_books{
    margin-top: 100px;
    margin:  0 auto;
    width: 400px;
}
.book_info{
    display: flex;
    width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}
.comments{
    margin-top: 20px;
    width: 100%;
}

.description{
    height: 100%;
    width: 100%;
}
main ul{
    list-style: none;
}

body{
    background-color: aliceblue;
}

footer {
    height: 45px;
    width: 100%;
    background-color:rgb(227 227 227);
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.15);
}
footer section {
    max-width: 1920px;
    margin:  0 auto;
}
footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.footer_div {
    width: 400px;
    margin-left: auto;
    margin-right: 0em;
}
footer p {
    margin-top: 15px;
}
.auth_div{
    background-color: rgb(232 241 255);
    box-shadow: 0 0 15px rgba(18, 26, 33, 0.15);
    width: 500px;
    padding: 10px;
    border: 1px solid rgb(182, 184, 188);
    margin: 20px auto;
    margin-top: 200px;
    
}
.auth_div button{
    margin: 0 auto;
    display: block;
}
.reg_div {
    width: 500px;
    height: 305px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: rgb(232 241 255);
    box-shadow: 0 0 15px rgba(18, 26, 33, 0.15);
    padding: 5px;
    border: 1px solid rgb(182, 184, 188);
}
.reg_div h1{
    text-align: center;
}

.reg_div p{
    text-align: center;
}
.auth_div h1{
    text-align: center;
}
.auth_div p{
    text-align: center;
}
.auth_button{
    margin: 0 auto;
    height: 25px;
    width: 205px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;

}
.auth_textarea{
    width: 480px;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0 0 15px rgba(18,26,33,0.15);
        border: none;
        height: 20px;
        padding: 8px;
}
.auth_redirectToRegistration{
    background-color: rgb(232 241 255);
    box-shadow: 0 0 15px rgba(93, 93, 93, 0.15);
    border: 1px solid rgb(182, 184, 188);
    width: 500px;
    height: 40px;
    padding: 10px;
    margin: 10px auto;
    margin-top: 5px;
}
.book_add_form_textarea_description{
  resize: none;
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 15px rgb(18 26 33 / 15%);
  border: none;
  padding: 5px;
}
.main_right{
        display: block;
        width: 415px;
        min-height: 100%;
        background-image: url("img/book3.png");
}
.book_add_error{
width: 600px;
margin: 0 auto;
padding: 15px;
border: 3px solid rgb(182, 184, 188);
box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.book_description {
    background-color: rgb(245 249 255);
    box-shadow: 0 0 10px rgb(93 93 93 / 15%);
    padding: 10px;
}
.book_add_form{
  background-color: rgb(245 249 255);
  width: 600px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0 0 15px rgb(93 93 93 / 15%);
}
.book_add_form_textarea{
display: block;
margin: 0 auto;
height: 22px;
width: 100%;
margin-top: 5px;
margin-bottom: 5px;
box-shadow: 0 0 15px rgb(18 26 33 / 15%);
border: none;
padding: 5px;
}
.book_add_button{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 200px;
    border: none;
    height: 25px;
    background-color: rgb(217 228 245);
    transition-duration: 1s;
    font-weight: 900;
    font-size: 16px;
}
.book_add_button:hover{
    background-color: rgb(167, 184, 210);
    transition-duration: 1s;
}
.redact_add_div{
margin-top: 170px;
}
.main_ul {
    background-color: rgb(217 228 245);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-bottom: 20px;
    transition: 1s;
}
.main_ul:hover{
    background-color: rgb(245 249 255);
}
.comment{
    margin-top: 20px;
    background-color: rgb(232 241 255);
    box-shadow: 0 0 10px rgb(93 93 93 / 15%);
    padding: 5px;
    width: 770px;
}
.comment_btn{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100px;
    border: none;
    height: 40px;
    background-color: rgb(245 249 255);
    transition-duration: 1s;
    font-weight: 900;
    font-size: 16px;
    margin-top: 10px;
}
.comment_btn:hover{
    background-color: rgb(167, 184, 210);
    transition-duration: 1s;
}
.comment_btn1{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100px;
    border: none;
    height: 25px;
    background-color: rgb(217 228 245);
    transition-duration: 1s;
    font-weight: 900;
    font-size: 16px;
}
.comment_btn1:hover{
    background-color: rgb(45, 199, 109);
    transition-duration: 1s;
}
.comment_btn2{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 112px;
    border: none;
    height: 25px;
    background-color: rgb(217 228 245);
    transition-duration: 1s;
    font-weight: 900;
    font-size: 16px;
}
.comment_btn2:hover{
    background-color: rgb(203, 68, 50);
    transition-duration: 1s;
}
.comment_form{
    background-color: rgb(245 249 255);
    box-shadow: 0 0 10px rgb(93 93 93 / 15%);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.comment_text{
    padding: 5px;
    border: none;
    resize: none;
    margin: 0 auto;
    height: 80px;
    width: 770px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px rgb(18 26 33 / 15%);
}
.comments{
    margin-left: 20px;
}
.book_detail_head{
    display: flex;
    justify-content: space-between;
}
.rate{
    margin-top: 0;
    width: 50%;
    background-color: rgb(245 249 255);
    box-shadow: 0 0 10px rgb(93 93 93 / 15%);
    padding: 10px;
}
.book_details{
    width: 50%;
    background-color: rgb(245 249 255);
    box-shadow: 0 0 10px rgb(93 93 93 / 15%);
    padding: 10px;
}
.book_wraper{
    background-color: rgb(245 249 255);
    box-shadow: 0 0 10px rgb(93 93 93 / 15%);
    padding: 10px;
}
.publication_detail{
    margin-top: 70px;
}
.comment button{
    display: block;
    margin-left: auto;
}
.error_bookdetails{
    margin-top: 15px;
}
.genre{
    overflow: hidden;
    width: 380px;
    height: 20px;
}
.book_name{
    overflow: hidden;
    width: 380px;
    height: 24px;
}
.header_btn{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 200px;
    border: none;
    height: 25px;
    background-color: rgb(239 239 239);
    transition-duration: 1s;
    font-weight: 900;
    font-size: 16px;
}
.header_btn:hover{
    background-color: rgb(167, 184, 210);
    transition-duration: 1s;
}
header li{
    background-color: rgb(239 239 239);
    box-shadow: 0 0 10px rgb(93 93 93 / 15%);
}

.reg_btn{
    margin: 0 auto;
    display: block;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;
    height: 40px;
    background-color: rgb(245 249 255);
    transition-duration: 1s;
    font-weight: 900;
    font-size: 16px;
}
.reg_btn:hover{
    width: 220px;
    background-color: rgb(167, 184, 210);
    transition-duration: 1s;
}