<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../style.css">
    <script src="/scripts.js"></script>
</head>
<body>

<section class="content">
    <header th:insert="../templates/blocks/header :: header"></header>
    <main class="main_panel">
        <h2 class="h2_panel">Admin Panel</h2>
        <div th:if="${errorMessege}" th:text="${errorMessege}" style="color: red; font-size: 25px;" class="book_add_h1"></div>
        <h3 class="h3_panel">Users</h3>
        <table class="table_panel">
            <thead>
            <tr>
                <th>ID</th>
                <th>Role</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Application for redactor</th>
                <th>Status</th>
                <th>Action</th>
                <th>Get role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${users}">
                <td th:text="${el.id}"></td>
                <td th:text="${el.role}"></td>
                <td th:text="${el.name}"></td>
                <td th:text="${el.email}"></td>
                <td th:text="${#temporals.format(el.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${el.requestToRedactor ? 'Подана заявка' : 'Нет заявки'}"></td>
                <td th:text="${el.ban ? 'Заблокирован' : 'Активен'}"></td>
                <td>
                    <form th:action="@{/adminPanel}" method="post">
                        <input type="hidden" name="userId" th:value="${el.id}" />
                        <button onclick="return confirmBlock();" type="submit" class="btnBan" th:classappend="${el.ban ? 'btn-unblock' : 'btn-block'}" th:text="${el.ban ? 'Разблокировать' : 'Заблокировать'}"></button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/adminPanel}" method="post">
                        <input type="hidden" name="userId" th:value="${el.id}" />
                        <select class="selectUser" name="newRole">
                            <option th:value="USER">User</option>
                            <option th:value="REDACTOR">Redactor</option>
                            <option th:value="MODERATOR">Moderator</option>
                        </select>
                        <button onclick="return confirmSetRole();" type="submit" class="btnRole">Set Role</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <h3 class="h3_panel">Publications</h3>
        <table class="table_panel">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Publisher name</th>
                <th>Date</th>
                <th>Link</th>
                <th>Rate</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${publications}">
                <td th:text="${el.id}"></td>
                <td th:text="${el.title}"></td>
                <td th:text="${el.genre}"></td>
                <td th:text="${el.publisherName}"></td>
                <td th:text="${#temporals.format(el.date, 'dd.MM.yy HH:mm:ss')}"></td>
                <td class="admPanelLink"><a th:href="${el.link}" th:text="${el.link}">Ссылка</a></td>
                <td th:text="${el.rate}"></td>
                <td th:text="${el.ban ? 'Заблокирован' : 'Опубликован'}"></td>
                <td>
                    <form th:action="@{/adminPanel}" method="post">
                        <input type="hidden" name="publicationId" th:value="${el.id}" />
                        <button onclick="return confirmBlock();" type="submit" class="btnBan" th:classappend="${el.ban ? 'btn-unblock' : 'btn-block'}" th:text="${el.ban ? 'Разблокировать' : 'Заблокировать'}"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </main>
<footer th:insert="../templates/blocks/footer :: footer"></footer>
</body>
</html>
