<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<section class="content">
  <header th:insert="../templates/blocks/header :: header"></header>
  <main>
    <section>
      <div class="main_left">
        <div class="main_left_content">
          <div th:each="el : ${publication}">
            <ul>
              <li>
                <h3 th:text = "${el.title}"/>
                <p th:text = "${el.genre}"/>
                <p th:text = "${el.publisherName}"/>
                <p th:text = "${el.date}"/>
                <p th:text = "${el.link}"/>
                <a href="'/book/details' + ${el.id} + '/redact'">Редактировать</a>
                <a href="'/book/details' + ${el.id} + '/remove'">Удалить</a>
              </li>
            </ul>
      </div>
      <div class="main_right">
        <img src="img/book3.png" alt="Oops.." height="835px" width="415px">
      </div>
    </section>
  </main>
</section>
<footer th:insert="../templates/blocks/footer :: footer"></footer>
</body>

</html>