<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Adding a book</title>
  <script src="/scripts.js"></script>
</head>
<body>
<section class="content">
  <header th:insert="../templates/blocks/header :: header"></header>
  <main>
    <section>
      <div class="main_left">
        <div class="redact_add_div">
        <div th:if="${message}" class="book_add_error">
          <div th:text="${message}" style="color: red; font-size: 28px;" class="book_add_h1"></div>
        </div>
        <form th:if="!${message}" th:action="@{/book/add}" method="post" class="book_add_form" onsubmit="return validateForm()">
          <div class="book_add_h1">
            <h1>Добавление книги в общую библиотеку</h1>
          </div>
          <input type="text" id="title" name="title" placeholder="Введите название публикации" class="book_add_form_textarea" required>
          <input type="text" id="genre" name="genre" placeholder="Введите жанр публикации" class="book_add_form_textarea" required>
          <input type="url" id="link" name="link" placeholder="Введите ссылку на источник публикации: https://example.com" class="book_add_form_textarea" pattern="https://.*" size="30" value="https://" required>
          <textarea id="description" name="description" placeholder="Введите описание книги" class="book_add_form_textarea_description" minlength="100" maxlength="255" required></textarea>
          <button type="submit" class="book_add_button">Добавить публикацию</button>
        </form>
      </div>
      </div>
      <div class="main_right"></div>
    </section>
  </main>
</section>
<footer th:insert="../templates/blocks/footer :: footer"></footer>
</body>
</html>