<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Publication description</title>
    <script>
        function confirmDeletePublication() {
            return confirm("Вы точно хотите удалить публикацию?");
        }
        function confirmDeleteComment() {
            return confirm("Вы точно хотите удалить комментарий?");
        }
    </script>
</head>
<body>
<section class="content">
    <header th:insert="../templates/blocks/header :: header"></header>
    <main>
        <section>
            <div class="main_left">
                <div class="main_left_content">

                    <div th:each="el : ${publication}">
                        <div th:if="${message}" th:text="${message}" style="color: red;" class="book_add_h1"></div>
                        <ul th:if="${el.ban != True}">
                            <li>
                                <h3> <p th:text = "${el.title}"/> </h3>
                                <p th:text = "${el.genre}"/>
                                <p th:text = "${el.publisherName}"/>
                                <p th:text = "${el.date}"/>
                                <p><a th:href ="${el.link}">Ссылка на источник</a></p>
                                <div class="book_description"><p th:text = "${el.description}"></p></div>
                                <a th:href="@{/book/details(id=${el.id},action='redact')}" sec:authorize="hasAuthority('modification')">Редактировать</a>
                                <form th:action="@{/book/details?(id=${el.id},action='remove')}" sec:authorize="hasAuthority('ADMIN') or hasAuthority('delete')" method="post">
                                    <button onclick="return confirmDeletePublication();" type="submit">Удалить</button>
                                </form>
                            </li>
                        </ul>

                        <div th:each="com : ${comments}" class="coms">
                            <ul th:if="${com.ban != True} and ${el.ban != True}">
                                <li>
                                    <h3 th:text = "${com.publisherName}" />
                                    <p th:text = "${com.date}" />
                                    <div th:text = "${com.commentary}"></div>
                                    <form th:action="@{/book/details(id=${el.id},actionCom = ${com.id},action='removeCom')}" sec:authorize="hasRole('ADMIN')" method="post">
                                        <button onclick="return confirmDeleteComment();" type="submit" >Удалить</button>
                                    </form>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <form th:action="@{/book/details(id=${el.id},action='addCom')}" method="post">
                                <h4>Оставьте свой комментарий по этой публикации!</h4>
                                <textarea rows="4" cols="50" name="commentary" placeholder="Введите свой комментарий:" id="book_add_form_textarea_description" minlength="1" maxlength="255" ></textarea>
                                <button type="submit" >Оставить</button>
                            </form>
                        </div>
                        <div>
                            <h3>Общий рейтинг: </h3>
                            <p th:text = "${el.rate}"/>
                            <span th:if="${el.rate == 0}">
                                Нейтральный статус публикации!
                            </span>
                            <span th:if="${el.rate > 0}">
                                Положительный статус публикации!
                            </span>
                            <span th:if="${el.rate < 0}">
                                Отрицательный статус публикации!
                            </span>
                            <form th:action="@{/book/details(id=${el.id},action='addRate')}" method="post">
                                <button type="submit" value="1" name="rate">Лайк</button>
                                <button type="submit" value="-1" name="rate">ДизЛайк</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_right">
            </div>
        </section>
    </main>
</section>
<footer th:insert="../templates/blocks/footer :: footer"></footer>
</body>
</html>