<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Publication description</title>
    <script src="/scripts.js"></script>
</head>
<body>
<section class="content">
    <header th:insert="../templates/blocks/header :: header"></header>
    <main>
        <section>
            <div class="main_left">
                <div class="main_left_content">
                    <div th:each="el : ${publication}" class="publication_detail">
                        <div class="book_wraper">
                        <div class="book_detail_head">

                        <ul th:if="${el.ban != True}" class="book_details">
                            <li>
                                <h3> <p th:text = "${el.title}"/> </h3>
                                <p>Жанр: <span th:text = "${el.genre}"></span></p>
                                <p>Автор: <span th:text = "${el.publisherName}"></span></p>
                                <p>Дата создания публикации</p>
                                <span th:text="${#temporals.format(el.date, 'dd.MM.yy HH:mm')}"></span>
                                <p><a th:href ="${el.link}">Ссылка на источник</a></p>

                                <a th:href="@{/book/details(id=${el.id},action='redact')}" th:if="${hasModificationRole}">Редактировать</a>
                                <form th:action="@{/book/details?(id=${el.id},action='remove')}" th:if="${hasDeleteRole}" method="post">
                                    <button onclick="return confirmDeletePublication();" type="submit" class="comment_btn">Удалить</button>
                                </form>
                            </li>
                        </ul>
                        <div class="rate">
                            <h3>Рейтинг </h3>
                            <p th:text = "${el.rate}"/>
                            <span th:if="${el.rate == 0}">
                                Нейтральный статус!
                            </span>
                            <span th:if="${el.rate > 0}">
                                Положительный статус!
                            </span>
                            <span th:if="${el.rate < 0}">
                                Отрицательный статус!
                            </span>
                            <form th:action="@{/book/details(id=${el.id},action='addRate')}" method="post">
                                <button type="submit" value="1" name="rate" class="comment_btn1">Нравится</button>
                                <button type="submit" value="-1" name="rate" class="comment_btn2">Не нравится</button>
                            </form>
                            <div th:if="${message}" th:text="${message}" style="color: red;" class="error_bookdetails"></div>
                        </div>
                        </div>
                        <div class="book_description">
                            <h3>Описание </h3>
                            <p th:text = "${el.description}"></p></div>
                        </div>
                        <div class="comments">
                        <h1>Комментарии</h1>
                            <div class="comment" th:if="${#lists.isEmpty(comments)}" style="color: blue; font-size: 28;">
                                Ещё никто не успел прокомментировать данную публикацию. Сделайте это первым!
                            </div>
                        <div th:each="com : ${comments}" class="coms">
                            <ul th:if="${com.ban != True} and ${el.ban != True}" class="comment">
                                <li>
                                    <h3 th:text = "${com.publisherName}" />
                                    <p th:text="${#temporals.format(com.date, 'dd.MM.yy HH:mm')}" />
                                    <div th:text = "${com.commentary}"></div>
                                    <form th:action="@{/book/details(id=${el.id},actionCom = ${com.id},action='removeCom')}" th:if="${hasModificationRole}" method="post">
                                        <button onclick="return confirmDeleteComment();" type="submit" class="comment_btn" >Удалить</button>
                                    </form>
                                </li>
                            </ul>
                        
                        </div>
                        </div>
                        <div>
                            <form th:action="@{/book/details(id=${el.id},action='addCom')}" method="post" class="comment_form" onsubmit="return validateComment()">
                                <h3>Оставьте свой комментарий к этой публикации!</h3>
                                <textarea rows="4" cols="50" name="commentary" placeholder="Введите свой комментарий:" class="comment_text" minlength="1" maxlength="255" ></textarea>
                                <button type="submit" class="comment_btn">Оставить</button>
                            </form>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div class="main_right">
            </div>
        </section>
    </main>
</section>
<footer th:insert="../templates/blocks/footer :: footer"></footer>
</body>
</html>