<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<section class="content">
    <header th:insert="../templates/blocks/header :: header"></header>
    <main>
        <section>
            <div class="main_left">
                <div class="text_area_div">
                <textarea name="search" id="" cols="1" rows="1" class="text_area_1"></textarea><button type="submit" class="but">Поиск</button>
                </div>
                <div class="main_left_content">
                    <h1>Каталог</h1>
                    <div th:each="el : ${publications}">
                        <ul>
                            <li>
                                <h3 th:text = "${el.title}"/>
                                <p th:text = "${el.genre}"/>
                                <a href="'/blog/' + ${el.id}">Посмотреть публикацию детальнее</a>
                            </li>
                        </ul>
                    </div>
<!--                </div>-->
<!--                    <div>-->
<!--                        <h1>Последнее</h1>-->
<!--                        <ul>-->
<!--                            <li>_BOOK1_</li>-->
<!--                            <li>_BOOK2_</li>-->
<!--                            <li>_BOOK3_</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
                </div>
            </div>
            <div class="main_right">
                <img src="img/book3.png" alt="Oops.." height="835px" width="415px">
            </div>
        </section>
    </main>
</section>
<footer th:insert="../templates/blocks/footer :: footer"></footer>
</body>

</html>