<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main>
    <p>вводит в форму имя, почту, пароль, заявку на редактора</p>
    <p>также вычисляется дата регистрации, выдаётся индетификатор бана 0, задаётся айдишник</p>

    <p>я думаю в юзере_темп надо сделать логаут будет, да и придумать чо там вообще писаться будет</p>




    <h1 th:text="#{label.form.title}">form</h1>
    <form action="/" th:object="${user}" method="POST" enctype="utf8">
        <div>
            <label th:text="#{label.user.firstName}">first</label>
            <input th:field="*{firstName}"/>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.email}">email</label>
            <input type="email" th:field="*{email}"/>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.password}">password</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.confirmPass}">confirm</label>
            <input type="password" th:field="*{matchingPassword}"/>
        </div>
        <div>
            <form>
                <p><b>Хотите ли вы подать заявка на редактора?</b></p>
                <p><input name="yes" type="radio" value="Да"> Да, я хочу быть редактором.</p>
                <p><input name="no" type="radio" value="Нет"> Нет.</p>
                <p><input type="submit" value="Выбрать"></p>
            </form>
        </div>
        <button type="submit" th:text="#{label.form.submit}">submit</button>
    </form>

    <a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>

</main>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>