<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Personal account</title>
</head>

<body>
    <section class="content">
        <header th:insert="../templates/blocks/header :: header"></header>
        <main>
            <section>
                <div th:if="${errorMessege}" th:text="${errorMessege}" style="color: red; front-size: 24;" class="book_add_h1"></div>
                <div class="user_info" th:each="el : ${user}">
                    <div>
                        <ul>
                            <li>
                                <h1> Добро пожаловать! </h1>
                                <h3 th:text = "${el.name}"></h3>
                                <p> Ваша почта: <span th:text = "${el.email}" /></p>
                                <p> Вы зарегистрировались на нашем сайте: <span th:text = "${el.date}" /></p>
                                <p> Вы имеете роль: <span th:text = "${el.role}" /></p>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${isModerator}">
                        <a th:href="@{/moderatorPanel}">Панель управления</a>
                    </div>
                    <div th:if="${isAdmin}">
                        <a th:href="@{/adminPanel}">Панель управления</a>
                    </div>
                    <form th:action="@{/user}" method="post">
                        <input type="hidden" name="userId" th:value="${el.id}" />
                        <h3>Вы хотите подать заявку на редактора?</h3>
                        <select name="requestToRedactor">
                            <option th:value="true">Да</option>
                            <option th:value="false">Нет</option>
                        </select>
                        <button type="submit">Подать заявку</button>
                    </form>
                    <div th:if="${messege}" th:text="${messege}" style="color: green; front-size: 24;" class="book_add_h1"></div>
                </div>
                <div>
                    <div th:each="el : ${publications}">
                        <h3>Публикации, которые вы оценили: </h3>
                        <ul th:if="${el.ban != True}">
                            <li>
                                <h3 th:text = "${el.title}"/>
                                <p th:text = "${el.genre}"/>
                                <a th:href ="@{/book/details?(id=${el.id})}">Посмотреть публикацию детальнее</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main_right">
                    <img src="img/book3.png" alt="Oops.." height="835px" width="415px">
                </div>
            </section>
        </main>
    </section>
    <footer th:insert="../templates/blocks/footer :: footer"></footer>
</body>

</html>