<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
            <section>
                <div>
                    <ul>
                        <li>
                            <a href="/main">
                                <h1>Главная</h1>
                            </a>
                        </li>
                        <li>
                            <a href="/book/add">
                                <h1>Добавить книгу в общую библиотеку</h1>
                            </a>
                        </li>
                        <li>
<!--                            th:each="el : ${user}"-->
<!--                            th:href="@{/user?(id=${el.id})}"-->
                            <div>
                                <a href="/user">
                                    <h1>Личный кабинет</h1>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <form th:action="@{/logout}" method="post">
                                  <input type="submit" value="Выйти из аккаунта" class="logout"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
    </div>
</div>