<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
            <section>
                <div>
                    <ul>
                        <li>
                            <a href="/">
                                <h1>Главная</h1>
                            </a>
                        </li>
                        <li>
                            <a href="/book">
                                <h1>Случайная книга</h1>
                            </a>
                        </li>
                        <li>
                            <a href="/user">
                                <h1>Личный кабинет</h1>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
    </div>
</div>